.monaco-workbench > .part.editor > .content .welcomePage .commands li button > span,
.monaco-workbench > .part.editor > .content .welcomePage .commands li button h3,
.monaco-workbench > .part.editor > .content .welcomePage .caption,
.monaco-workbench > .part > .title > .title-label h2,
.monaco-panel-view .panel > .panel-header,
.monaco-select-box,
.monaco-shell,
.search-box,
.input
{
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.monaco-editor .suggest-widget:not(.frozen) .monaco-highlighted-label .highlight,
.monaco-editor .parameter-hints-widget .signature .parameter.active,
.parameter-hints-widget,
.suggest-widget
{
    font-weight: 400;
}

.monaco-workbench .monaco-tree-row .expression,
.debug-viewlet .debug-watch .monaco-inputbox,
.monaco-workbench .repl .surveyor
{
    font-family: "Iosevka Term Medium", monospace;
}

.monaco-editor .detected-link-active,
.monaco-editor .detected-link
{
    text-decoration: none;
}

.debug-viewlet .scope
{
    font-weight: 500;
    font-size: 12px;
}

