.settings-editor > .settings-body > .settings-tree-container .setting-item.setting-item-exclude .setting-exclude-pattern,
.settings-editor > .settings-body > .settings-tree-container .setting-item.setting-item-exclude .setting-exclude-sibling,
.settings-editor > .settings-body > .settings-tree-container .setting-item .setting-item-description-markdown code,
.keybindings-editor > .keybindings-body > .keybindings-list-container .monaco-list-row > .column > .code,
.monaco-select-box-dropdown-container > .select-box-details-pane > .select-box-description-markdown code,
.monaco-editor .zone-widget .zone-widget-container.exception-widget .description,
.monaco-editor .zone-widget .zone-widget-container.exception-widget .stack-trace,
.monaco-workbench > .part.editor > .content .walkThroughContent .shortcut,
.monaco-workbench > .part.editor > .content .walkThroughContent code,
.extension-editor > .body > .content table code:not(:empty),
.monaco-workbench .monaco-tree-row .expression,
.debug-viewlet .debug-watch .monaco-inputbox,
.monaco-workbench .repl .surveyor,
.tm-metadata-value,
.tm-theme-selector,
.tm-token
{
    font-family: "Iosevka Term Medium", monospace;
}

.monaco-workbench > .part.editor > .content .welcomePage .commands li button > span,
.monaco-workbench > .part.editor > .content .welcomePage .commands li button h3,
.monaco-workbench > .part.editor > .content .welcomePage .caption,
.monaco-workbench > .part > .title > .title-label h2,
.monaco-panel-view .panel > .panel-header,
.monaco-select-box,
.monaco-shell,
.search-box,
.input
{
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.monaco-editor .suggest-widget:not(.frozen) .monaco-highlighted-label .highlight,
.monaco-editor .parameter-hints-widget .signature .parameter.active,
.parameter-hints-widget,
.suggest-widget
{
    font-weight: 400;
}

.monaco-editor .detected-link-active,
.monaco-editor .detected-link
{
    text-decoration: none;
}

.debug-viewlet .scope
{
    font-weight: 500;
    font-size: 12px;
}

