.monaco-workbench > .part.editor > .content .welcomePage .commands li button > span,
.monaco-workbench > .part.editor > .content .welcomePage .commands li button h3,
.monaco-workbench > .part.editor > .content .welcomePage .caption,
.monaco-workbench > .part > .title > .title-label h2,
.monaco-panel-view .panel > .panel-header,
.monaco-shell.linux,
.monaco-select-box,
.monaco-shell,
.search-box,
.input,
.linux
{
    font-family: 'PT Sans Pro', sans-serif !important;
}

.monaco-editor .suggest-widget:not(.frozen) .monaco-highlighted-label .highlight,
.monaco-editor .parameter-hints-widget .signature .parameter.active,
.parameter-hints-widget,
.suggest-widget
{
    font-family: 'PT Sans', sans-serif !important;
}

.lines-content.monaco-editor-background div.view-lines,
.monaco-workbench .monaco-list-row .expression,
.debug-viewlet .debug-watch .monaco-inputbox,
.monaco-workbench .repl .surveyor
{
    font-family: "Iosevka Term Semibold", monospace !important;
}

.monaco-editor .debug-hover-widget .value
{
    font-family: "Iosevka Term Medium", monospace !important;
}

.monaco-editor .detected-link-active,
.monaco-editor .detected-link
{
    text-decoration: none;
}

.monaco-workbench .debug-pane .monaco-list-row .expression,
.debug-viewlet .scope
{
    font-size: 12px;
}

